<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register1</servlet-name>
        <servlet-class>Register1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Check</servlet-name>
        <servlet-class>Check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Check2</servlet-name>
        <servlet-class>Check2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Check3</servlet-name>
        <servlet-class>Check3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Compute</servlet-name>
        <servlet-class>Compute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePass</servlet-name>
        <servlet-class>ChangePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgot</servlet-name>
        <servlet-class>Forgot</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register1</servlet-name>
        <url-pattern>/Register1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check</servlet-name>
        <url-pattern>/Check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check2</servlet-name>
        <url-pattern>/Check2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check3</servlet-name>
        <url-pattern>/Check3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Compute</servlet-name>
        <url-pattern>/Compute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePass</servlet-name>
        <url-pattern>/ChangePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgot</servlet-name>
        <url-pattern>/Forgot</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
